.card-proyect-container {
  text-align: center;
  margin: 2rem 0;
  
  .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}

.button-container a {
  margin-bottom: 0px;

}
p-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }

  p {
    font-size: 0.95rem;
    line-height: 1.5;
    padding: 0 1rem;
    text-align: justify;
  }


  ::ng-deep .p-card-subtitle {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  ::ng-deep .p-card-footer {
    //display: flex;
    //gap: 1rem;
    justify-content: center;
    padding: 8px;
    background-color: #e5e2e2;
    border-radius: 0 0 8px 8px;
  }
}


.social-networks img {
  width: 2rem;
  height: 2rem;
  margin-right: 15rem;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem; 
  margin-right: 4px;
  
}


@media (max-width: 768px) {
  .projects-grid {
    justify-content: center;
    gap: 1.5rem;
  }

  p-card {
    width: 90%; 
    margin: 1rem 0; 
  }

  h1 {
    font-size: 1.8rem; 
  }

  ::ng-deep .p-card-title {
    font-size: 1.1rem; 
  }

  ::ng-deep .p-card-subtitle {
    font-size: 0.9rem; 
  }

  p-card p {
    font-size: 0.85rem; 
  }
}