.container {
    text-align: center;
    background-color: rgb(185, 184, 184);
    border-radius: 10px;
  }
  
  :host ::ng-deep .picsum-img-wrapper {
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
  }
  
  .picsum-img-wrapper:hover {
    transform: scale(1.05);
  }

.image {
    margin-top: 20px;
    width: 50%;
    height: 50%;
    border-radius: 10px;
  }

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(105, 98, 98);
}