.container {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.container img {
    align-items: center;
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
  }

  .container img:hover {
    transform: scale(1.05);
  }
  
  .nz-carousel .slick-slide {
    text-align: center;
    height: 300px;
    line-height: 300px;
    background: #364d79;
    overflow: hidden;
  }
  
  .nz-carousel .slick-slide h3 {
    color: #fff;
  }