<div class="container" id="education">
    <section  class="education">
    <h1>Formación</h1>
    @for (item of education; track $index) {
        <h3>{{item.title}}</h3>
        <p>{{item.institute}}</p>
        <p>{{item.date}}</p>
        <p>{{item.description}}</p><br>
    } 
</section>
</div>
<!-- <mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
</mat-list> -->