.container {
    background-color: rgb(217, 215, 215);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 30px;
    margin-bottom: 50px;
    opacity: 0.9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .education {
    text-align: center;
    padding: 20px;
  }
  
  .education h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
  }
  
  .education-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0.95;
    transition: transform 0.3s ease;
  }
  
  .education-item:hover {
    transform: scale(1.05);
  }
  
  .education-item h3 {
    font-size: 1.8rem;
    color: #202049;
    margin-bottom: 10px;
  }
  
  .institute, .date {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
  }
  
  .description {
    font-size: 1rem;
    color: #777;
    margin-top: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 20px;
    }
  
    .education h1 {
      font-size: 2rem;
    }
  
    .education-item h3 {
      font-size: 1.5rem;
    }
  
    .education-item {
      padding: 15px;
    }
  }
  