.about-section {
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
  opacity: 0.8;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.about-section:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.about-section h1 {
  margin-bottom: 30px;
  opacity: 0;
  animation: fadeInUp 2s ease-out forwards;
}

.about-text {
  animation: fadeInUp 2s ease-out forwards;
}

/* Card */
.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.about-card:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Imagen */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.profile-image-wrapper {
  width: 280px;
  height: 280px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #75b7fe;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-image-wrapper:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.profile-image-wrapper:hover .profile-image {
  transform: scale(1.05);
}

/* Texto */
.text-content {
  text-align: center;
  padding: 10px;
}

/* Animación */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media screen and (max-width: 768px) {
  .about-section h1 {
    font-size: 2rem;
  }

  .profile-image-wrapper {
    width: 150px;
    height: 150px;
  }

  .about-text {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}

@media screen and (max-width: 480px) {
  .about-section h1 {
    font-size: 1.6rem;
  }

  .profile-image-wrapper {
    width: 130px;
    height: 130px;
  }

  .about-text {
    font-size: 0.9rem;
  }
}
