<h2>{{about.welcome}}</h2>
<section id="about">
    <div class="container">
        <div class="col-md-4">
            <img [src]="about.imageUrl" class="img-fluid rounded-circle" alt="Foto de perfil">
        </div>
        <div class="description">
                        <h1>{{about.titleSection}}</h1>
                        <p>
                            {{about.presentation}}
                        </p>
                        <p>
                            {{about.description}}
                        </p>
                        <p>
                            {{about.observation}}
                        </p>
                </div>
            </div>
        </section>