<section id="about" class="about-section">
  <div class="container">
    <h1 class="text-center">{{ about.welcome }}</h1>
    <p-card [header]="about.titleSection" class="about-card" styles="width: 100%; font-size:60px">
      <div class="about-content">
        <div class="image-container">
          <!-- Usamos un div en lugar de p-image para controlar mejor los estilos -->
          <div class="profile-image-wrapper">
            <img [src]="about.imageUrl" alt="imagen perfil" class="profile-image"/>
          </div>
        </div>
        <div class="text-content">
          <p class="about-text">{{ about.presentation }}</p>
          <p class="about-text">{{ about.description }}</p>
          <p class="about-text">{{ about.observation }}</p>
        </div>
      </div>
    </p-card>
  </div>
</section>
