<div [ngClass]="{'contact-wrapper': true, 'minimizado': minimizado}">
  <a href="#contact">
  <h1 class="text-2xl font-bold text-center mb-6">Contáctame</h1><br><br>
  </a>
  <!-- Redes sociales -->
  <div class="social-networks mt-8">
    <ul class="flex justify-center gap-4">
      <li>
        <a [href]="contact.urlLinkedin" target="_blank" rel="noopener noreferrer" [title]="contact.linkedinTooltip">
          <img [src]="contact.linkedinImage" alt="logo linkedin" class="w-8 h-8">
        </a>
      </li>
      <li>
        <a [href]="contact.urlGithub" target="_blank" rel="noopener noreferrer" [title]="contact.githubTooltip">
          <img [src]="contact.githubImage" alt="logo GitHub" class="w-8 h-8">
        </a>
      </li>
      <li>
        <a [href]="contact.urlCurriculum" target="_blank" rel="noopener noreferrer" [title]="contact.cvTooltip">
          <img [src]="contact.cvImage" alt="Curriculum Vitae Imagen" class="w-8 h-8">
        </a>
      </li>
      <li>
        <a [href]="contact.urlMail" target="_blank" rel="noopener noreferrer" [title]="contact.sendEmailTooltip">
          <img [src]="contact.mailImage" alt="logo email" class="w-8 h-8">
        </a>
      </li>
      <li>
        <button 
          (click)="copyEmail()" 
          class="copy-button text-blue-500 hover:text-blue-600 focus:outline-none" 
          [title]="contact.copyEmailTooltip">
          Copiar Email
        </button>
      </li>
    </ul>
  </div>

  <!-- Derechos -->
  <div class="rights text-center mt-6 text-sm text-gray-600">
    <p>{{ contact.cpyrigthtext }}</p>
    <p>&copy; 2025 {{ contact.myname }}</p>
  </div>
</div>
