.navbar{
    position:fixed;
    width: 100%;
    z-index: 1;
}

.container-fluid {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

.container-fluid a:hover,
.container-fluid a.active {
    text-decoration: underline;
    transition: 500ms;
}