<section id="navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img class="navbar-logo" src="assets/images/log_dev.webp" alt="logo">
    <a class="navbar-brand" href="#">
      LardevPro
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" (click)="closeNavbar()">
        <li class="nav-item" *ngFor="let item of navItems">
          <a class="nav-link" [href]="'#' + item.link">{{ item.label }}</a>
        </li>
      </ul>
      <form class="d-flex ms-auto" action="https://www.google.com/search" method="get" target="_blank">
        <input class="form-control me-2" type="search" name="q" placeholder="Buscar en Google" aria-label="Buscar">
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
</section>
