<section id="certificates">
	<div class="container">
	  <h1>Certificaciones</h1>
	  <ngb-carousel
		#carousel
		[interval]="3000"
		[pauseOnHover]="pauseOnHover"
		[pauseOnFocus]="pauseOnFocus"
		[showNavigationIndicators]="true"
		(slide)="onSlide($event)">
		<ng-template ngbSlide *ngFor="let image of images; let i = index">
		  <div class="image-wrapper">
			<img class="image" [src]="image" alt="Certificado {{ i + 1 }}" />
		  </div>
		</ng-template>
	  </ngb-carousel>
	  <button type="button" (click)="togglePaused()" class="btn">
		{{ paused ? 'Reanudar' : 'Pausar' }}
	  </button>
	</div>
  </section>
  