.container {
    text-align: center;
    background-color: rgb(185, 184, 184);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }
  
  :host ::ng-deep .picsum-img-wrapper {
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
  }
  
  .picsum-img-wrapper:hover {
    transform: scale(1.05);
  }

.image {
    margin-top: 20px;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .btn {
    margin-bottom: 20px;
    background-color: royalblue;
    color: white;
  }

  :hover.btn {
    background-color: rgb(129, 129, 216);
    transition: 0,5ms;
  }