.container {
    padding: 40px;
    background-color: rgb(217, 215, 215);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .experience-item {
    margin-bottom: 30px;
    transition: transform 0.3s ease;
  }
  
  .experience-item:hover {
    transform: scale(1.05);
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.95;
  }
  
  .card-header {
    background-color: #a4a4a4;
    border: none;
    padding: 15px;
    border-radius: 10px 10px 0 0;
  }
  
  .card-header h4 {
    font-size: 1.8rem;
    color: #202049;
    margin: 0;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-body p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  ul li {
    font-size: 1rem;
    color: #777;
    margin-bottom: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 20px;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    .card-header h4 {
      font-size: 1.5rem;
    }
  
    .card-body p {
      font-size: 1rem;
    }
  
    .card-body ul li {
      font-size: 0.9rem;
    }
  }
  