<section id="experience"><br><br>
<div class="container" >
  <h1>Experiencia Laboral</h1>
  <div *ngFor="let exp of experiences; let i = index" class="experience-item">
    <div class="card">
      <div class="card-header">
        <h4>{{ exp.position }}</h4>
      </div>
      <div class="card-body">
        <p><strong>{{ exp.company }}</strong> ({{ exp.date }})</p>
        <p>{{ exp.description }}</p>
        <ul>
          <!-- Filtramos los valores vacíos después de dividir por el punto -->
          <ng-container *ngFor="let data of splitDescription(exp.description || '')">
            <li>{{ data }}.</li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
